<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Daniel Jakots' photography</title>
</head>

<body>
    <header>
        <h1>This is some pictures I took!</h1>
    </header>

{% for picture in pictures %}
        <h2>{{ picture.title }}</h2>
        <a href="{{ picture.path }}">
        <img src="{{ picture.small_path }}" alt="{{ picture.title }}">
        </a>
        <p>Taken on <b>{{ picture.date }}</b> with a <b>{{ picture.model }}</b> and a <b>{{ picture.lens_model }}</b> lens at <b>{{ picture.focal_length  }}</b>. The shutter was opened at <b>{{ picture.aperture }}</b> during <b>{{ picture.exposure_time }}</b>. Sensitivity was set at <b>{{ picture.iso }}</b></p>

{% endfor %}
</body>
</html>
