<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>body{margin:40px auto;max-width:650px;line-height:1.6;font-size:18px;font-family:sans-serif;color:#333;padding:0 10px}h1,h2,h3{line-height:1.2}.hideme{color: #333; text-decoration: none;}h1{color:#8F0006}p.thicker{font-weight: 800;}</style>

    <title>Daniel Jakots' photography</title>
</head>

<body>
    <header>
        <h1>This is some pictures I took!</h1>
        <p class="ticker">Hey, I'm <a href="https://chown.me/about.html">Daniel</a>. This website was generated with <a href="https://github.com/danieljakots/pics2html">a python script of mine</a>. All these pictures have been taken by myself and are under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
    </header>

{% block content %}
{% endblock %}
</body>
</html>
