{% extends "daddy.html.j2" %}
{% block content %}
{% for picture in pictures %}
        <h2 id={{ picture.title }}><a href="#{{ picture.title }}" class="hideme">{{ picture.title }}</a></h2>
        <a href="{{ picture.html_path }}.html">
{% include "picture_details.html.j2" %}

{% endfor %}

<p>
{% if pagination.previous is defined %}
{% if pagination.previous == 0 %}
<a href="index.html">previous page</a>
{% else %}
<a href="index{{ pagination.previous }}.html">previous page</a>
{% endif %}
{% endif %}
({{ pagination.current }} / {{ pagination.total }})
{% if pagination.next %}
<a href="index{{ pagination.next }}.html">next page</a>
{% endif %}
</p>
{% endblock %}
